h1,
h2,
h3,
h4,
p,
li,
li{
    font-family:sans-serif;
    color:#444444;
}


h1,h2,h3{
    color:#1098ad;
}




h1{
    font-size:26px;
    text-transform:uppercase;
    font-style:italic;

}

h2{
    font-size:40px;

}

h3{
    font-size:30px;
}

h4{
    font-size:20px;
    text-transform:uppercase;
    text-align:center;
}

p{
    /*this will select all the p elements */
    font-size:22px;
    line-height:1.5;

}

li{
    font-size:20px;
}


/*descendend selector */




header p{
    font-style:italic;
}



#author{
    font-style:italic;
    font-size:18px;
}



#copyright{
    font-size:16px;
}

.related-author{
    font-size:18px;
    font-weight:bold;
}

.related{
    list-style:none;
}


.main-header{
    background-color:#f7f7f7;
}


aside{
    background-color:#f7f7f7f7;
    border-top:5px dashed #1098ad;
    border-bottom:5px dashed #1098ad;
    /*just for completeness 
    border-left
    border-right*/

}

body{
   /* background-color:blue;*/
}

li:first-child{
    font-weight:bold;
}

li:last-child{
    font-weight:italic;
}


/* Styling Links */

a:link{
    color:#1098ad;
    text-decoration:none;
}

a:visited{
    color:#1098ad;
}


a:hover{
    color:orangered;
    font-weight:bold;
    text-decoration:underline wavy dotted orangered;
}

a.active{
    background-color:black;
    font-style:italic;
}

/* LVHA */
